@charset "UTF-8";
/*
	netive UI GUide : _font.scss
*/
/* NotoSansCJKkr-Thin */
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 100; src: local("Noto Sans KR Thin"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Thin.woff") format("woff"), url("/resource/service/font/NotoSansCJKkr-hinted/notokr-thin.woff2") format("woff2"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Thin.ttf") format("truetype"); }

/* NotoSansCJKkr-Light */
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 300; src: local("Noto Sans KR Light"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Light.woff") format("woff"), url("/resource/service/font/NotoSansCJKkr-hinted/notokr-light.woff2") format("woff2"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Light.ttf") format("truetype"); }

/* NotoSansCJKkr-Normal */
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 400; src: local("Noto Sans KR Regular"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Regular.woff") format("woff"), url("/resource/service/font/NotoSansCJKkr-hinted/notokr-regular.woff2") format("woff2"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Regular.ttf") format("truetype"); }

/* NotoSansCJKkr-Medium */
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 500; src: local("Noto Sans KR Medium"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.woff") format("woff"), url("/resource/service/font/NotoSansCJKkr-hinted/notokr-medium.woff2") format("woff2"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Medium.ttf") format("truetype"); }

/* NotoSansCJKkr-Bold */
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 600; src: local("Noto Sans KR Bold"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.woff") format("woff"), url("/resource/service/font/NotoSansCJKkr-hinted/notokr-bold.woff2") format("woff2"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Bold.ttf") format("truetype"); }

/* NotoSansCJKkr-Black */
@font-face { font-family: 'Noto Sans'; font-style: normal; font-weight: 900; src: local("Noto Sans KR Black"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Black.woff") format("woff"), url("/resource/service/font/NotoSansCJKkr-hinted/notokr-black.woff2") format("woff2"), url("/resource/service/font/NotoSansCJKkr-hinted/NotoSansCJKkr-Black.ttf") format("truetype"); }

/* roboto-regular - latin */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url("/resource/service/font/Roboto/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */ src: local("Roboto"), local("Roboto-Regular"), url("/resource/service/font/Roboto/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("/resource/service/font/Roboto/roboto-v20-latin-regular.woff2") format("woff2"), url("/resource/service/font/Roboto/roboto-v20-latin-regular.woff") format("woff"), url("/resource/service/font/Roboto/roboto-v20-latin-regular.ttf") format("truetype"), url("/resource/service/font/Roboto/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */ }

/* roboto-500 - latin */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 500; src: url("/resource/service/font/Roboto/roboto-v20-latin-500.eot"); /* IE9 Compat Modes */ src: local("Roboto Medium"), local("Roboto-Medium"), url("/resource/service/font/Roboto/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("/resource/service/font/Roboto/roboto-v20-latin-500.woff2") format("woff2"), url("/resource/service/font/Roboto/roboto-v20-latin-500.woff") format("woff"), url("/resource/service/font/Roboto/roboto-v20-latin-500.ttf") format("truetype"), url("/resource/service/font/Roboto/roboto-v20-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */ }

/* roboto-700 - latin */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 700; src: url("/resource/service/font/Roboto/roboto-v20-latin-700.eot"); /* IE9 Compat Modes */ src: local("Roboto Bold"), local("Roboto-Bold"), url("/resource/service/font/Roboto/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("/resource/service/font/Roboto/roboto-v20-latin-700.woff2") format("woff2"), url("/resource/service/font/Roboto/roboto-v20-latin-700.woff") format("woff"), url("/resource/service/font/Roboto/roboto-v20-latin-700.ttf") format("truetype"), url("/resource/service/font/Roboto/roboto-v20-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */ }

/* roboto-900 - latin */
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 900; src: url("/resource/service/font/Roboto/roboto-v20-latin-900.eot"); /* IE9 Compat Modes */ src: local("Roboto Black"), local("Roboto-Black"), url("/resource/service/font/Roboto/roboto-v20-latin-900.eot?#iefix") format("embedded-opentype"), url("/resource/service/font/Roboto/roboto-v20-latin-900.woff2") format("woff2"), url("/resource/service/font/Roboto/roboto-v20-latin-900.woff") format("woff"), url("/resource/service/font/Roboto/roboto-v20-latin-900.ttf") format("truetype"), url("/resource/service/font/Roboto/roboto-v20-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */ }

/*
	netive UI GUide : _reset.scss
*/
body { margin: 0; color: #222; font-size: 100%; font-family: "Noto Sans", sans-serif; font-weight: normal; line-height: normal; letter-spacing: -0.069em; -webkit-text-size-adjust: none; }

body:before { content: ''; position: fixed; left: 0; top: 0; width: 100%; height: 0; }

div, span, p, strong, b, em, i, a, address, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, button, input, select, textarea, label, table, th, td, section, article, header, footer, aside, hgroup, menu, nav { box-sizing: border-box; }

strong, b, em, i, address, h1, h2, h3, h4, h5, h6, pre { font: inherit; }

h1, h2, h3, h4, h5, h6, dl, dd, p, input[type='radio'], input[type='checkbox'] { margin: 0; }

ul, ol { margin: 0; padding: 0; list-style: none; }

a { display: inline-block; color: inherit; text-decoration: none; }

iframe, img { border: 0; vertical-align: top; }

table { width: 100%; table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

table th, table td { padding: 0; }

fieldset { margin: 0; padding: 0; border: 0; }

legend, caption { height: 0; overflow: hidden; opacity: 0; }

button, input[type='button'], input[type='submit'], input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='search'], select, textarea { color: inherit; font: inherit; letter-spacing: inherit; }

button, input[type='button'], input[type='submit'] { padding: 0; background-color: transparent; border: 0; cursor: pointer; }

input[type='text'], input[type='password'], input[type='number'], input[type='search'], select { padding: 0; background-color: transparent; border-width: 1px; border-style: solid; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration, input[type=text]::-ms-clear, input[type=number]::-ms-clear, input[type=search]::-ms-clear, input[type='password']::-ms-reveal { display: none; }

/* flex set */
body, html { width: 100%; height: 100%; line-height: 1.4; font-size: 16px; }

.bg_gray { background-color: #f9f9f9; }

h2, h3 { letter-spacing: -0.063em; }

/* header */
#inc_header { z-index: 105; position: fixed; top: 0; left: 0; right: 0; width: 100%; height: 135px; padding-bottom: 8px; border-bottom: 1px solid #00854a; background: #fff; /* logout btn */ }

#inc_header .user { z-index: 104; position: absolute; top: -51px; right: 0; }

#inc_header .user .btn_wrap { -webkit-box-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; margin: 46px 0 0; }

#inc_header .user .btn_wrap .logout { width: 100px; height: 30px; padding-left: 18px; line-height: 29px; color: #00854a; font-size: 14px; font-weight: 500; border: 1px solid #00854a; border-radius: 30px; text-align: center; background: url(/resource/service/images/common/ico-logout.png) 14px center no-repeat; background-size: 14px; }

#inc_header .m_user { opacity: 0; }

#inc_header .head_inner { position: relative; }

#inc_header .head_inner .logo { position: absolute; top: 43px; left: 0; z-index: 106; background: url(/resource/service/images/common/logo.png) no-repeat; background-size: contain; }

#inc_header .head_inner .logo a { display: inline-block; width: 189px; height: 57px; cursor: pointer; }

#inc_header .head_inner .gnb { position: relative; display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; }

#inc_header .head_inner .gnb .gnb_grid { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; margin-right: -21px; }

#inc_header .head_inner .gnb .gnb_li > a { position: relative; display: block; min-height: 127px; padding: 76px 21px 30px; font-size: 20px; font-weight: 500; color: #222; line-height: 1; letter-spacing: -0.106em; text-align: center; box-sizing: border-box; }

#inc_header .head_inner .gnb .gnb_li > a .en { letter-spacing: -0.069em; }

#inc_header .head_inner .gnb .gnb_li:hover, #inc_header .head_inner .gnb .gnb_li:focus, #inc_header .head_inner .gnb .gnb_li.active { color: #00854a; border-bottom: 8px solid #00854a; }

#inc_header .head_inner .gnb .gnb_li:hover > a, #inc_header .head_inner .gnb .gnb_li:focus > a, #inc_header .head_inner .gnb .gnb_li.active > a { color: #00854a; }

#inc_header .head_inner .gnb .gnb_li.ciGuide h3 a { font-family: 'Noto Sans' !important; }

#inc_header .head_inner .gnb .gnb_li.ciGuide .sub_menu_tbl .cell { padding: 50px 0 55px 20px !important; }

#inc_header .head_inner .gnb .gnb_li.ciGuide .sub_menu_tbl .cell:nth-child(-n+5) { border-bottom: 1px solid rgba(196, 196, 196, 0.4); }

#inc_header .head_inner .gnb .gnb_li.ciGuide .sub_menu_tbl .cell:nth-child(5) { border-right: none; }

#inc_header .head_inner .gnb .gnb_li.ciGuide .sub_menu_tbl .cell:last-child { border-right: none; }

#inc_header .head_inner .gnb .gnb_li:last-child .sub_menu_tbl .cell { padding: 50px 0 95px 20px !important; }

#inc_header .head_inner .gnb .sub_menu { position: absolute; top: 135px; left: 0; z-index: 100; display: none; width: 100%; padding: 0; letter-spacing: 0; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-lines: multiple; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; justify-content: flex-start; width: 100%; border-left: 1px solid rgba(196, 196, 196, 0.4); border-right: 1px solid rgba(196, 196, 196, 0.4); }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .cell { position: relative; width: calc(100% / 5); padding: 50px 0 110px 20px; border-right: 1px solid rgba(196, 196, 196, 0.4); }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .cell > ul > li { line-height: 1; font-weight: 500; color: #252525; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .cell > ul > li > ul { margin-top: 15px; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .cell > ul > li > ul > li > a { display: inline-block; padding: 8px 0; font-size: 20px; font-weight: 500; color: #717171; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .cell > ul > li + li { margin-top: 20px; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .sub_menu_list { line-height: 1; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .sub_menu_list h3 { margin-bottom: 20px; font-size: 20px; font-weight: 500; color: #717171; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .sub_menu_list h3 a { display: block; min-width: 120px; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .sub_menu_list h3 a:hover { color: #00854a; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .sub_menu_list > ul > li > a { display: inline-block; padding: 8px 0; font-size: 18px; color: #a6a6a6; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl .sub_menu_list > ul > li > a:hover { text-decoration: underline; color: #888; }

#inc_header .head_inner .gnb .sub_menu .sub_menu_tbl.en a { font-family: 'Roboto'; }

#inc_header.show .gnb_bg { right: 0; -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.3); box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.3); transition-delay: 0s; }

#inc_header.show .gnb_bg:after { border-left: 1px solid #ededed; }

#inc_header.show:after { bottom: 0; opacity: 1; }

#inc_header .gnb_bg { position: absolute; top: 135px; left: 0; z-index: -1; height: 0; background-color: #fff; transition: all 0.2s ease-out 0.2s; }

/* breadcrumb */
.breadcrumbs { width: 100%; border-bottom: 1px solid #4a7c5d; }

.breadcrumbs ul { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; -webkit-box-align: center; -webkit-align-items: center; align-items: center; width: 1200px; height: 75px; margin: 0 auto; }

.breadcrumbs ul li { position: relative; padding-right: 50px; }

.breadcrumbs ul li:first-child { padding-right: 14px; }

.breadcrumbs ul li:last-child { padding: 0; }

.breadcrumbs ul li a { vertical-align: middle; font-weight: 500; color: #a1a1a1; }

.breadcrumbs ul li a:after { position: absolute; top: 9px; right: 25px; width: 10px; height: 11px; background: url(/resource/service/images/common/ico-breadcrumbs.png) -30px 0 no-repeat; content: ''; }

.breadcrumbs ul li a.active { color: #00854a; }

.breadcrumbs ul li a.home { position: relative; top: -3px; width: 17px; height: 17px; padding: 0; background: url(/resource/service/images/common/ico-breadcrumbs.png) 0 0 no-repeat; }

.breadcrumbs ul li a.home:after { display: none; }

.breadcrumbs ul li:last-child a:after { display: none; }

/* footer */
#inc_footer { width: 100%; height: 217px; background: #f9f9f9; border-top: 1px solid rgba(163, 157, 153, 0.4); }

#inc_footer .footer_wrap { width: 1200px; margin: 0 auto; padding: 43px 0 0 0; }

#inc_footer .footer_wrap .fnav { width: 100%; }

#inc_footer .footer_wrap .fnav ul { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ }

#inc_footer .footer_wrap .fnav ul li { margin-right: 20px; }

#inc_footer .footer_wrap .fnav ul li a { font-weight: 500; color: #666; }

#inc_footer .footer_wrap .finfo { padding: 30px 0 0; font-weight: 300; }

#inc_footer .footer_wrap .finfo address { font-family: "Roboto"; font-size: 14px; color: #7e7e7e; }

#inc_footer .footer_wrap .finfo address span:not(.dash):after { position: relative; top: 2px; display: inline-block; width: 1px; height: 13px; margin: 0 10px; background: #7e7e7e; content: ''; }

#inc_footer .footer_wrap .finfo address span:last-child:after { display: none; }

#inc_footer .footer_wrap .finfo address span.dash:after { display: inline-block; margin: 0 5px; content: ":"; }

#inc_footer .footer_wrap .finfo .copyright { margin-top: 5px; font-family: 'Roboto'; font-size: 14px; color: #434343; }

/* content area */
.service_wrap { width: 100%; min-height: 100%; }

.service_wrap .service_container { width: 100%; padding-top: 134px; /* page_cont */ /* card */ /* cont_wrap */ /* box_type */ }

.service_wrap .service_container .page_head { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; width: 100%; height: 308px; background: url(/resource/service/images/common/bg-intro.jpg) no-repeat; background-size: cover; }

.service_wrap .service_container .page_head div { text-align: center; }

.service_wrap .service_container .page_head div h1 { font-size: 80px; font-weight: 900; color: #fff; line-height: 1; margin-bottom: 20px; }

.service_wrap .service_container .page_head div h1 em { font-family: 'Roboto'; letter-spacing: -0.044em; }

.service_wrap .service_container .page_head div p { font-size: 20px; color: #fff; }

.service_wrap .service_container .sub_desc { margin-top: 45px; padding-left: 265px; box-sizing: border-box; }

.service_wrap .service_container .sub_desc p { margin: 0 0 12px 20px; font-size: 14px; font-weight: 300; color: #999; }

.service_wrap .service_container .sub_desc p.ui-list-dot:before { background: #999; }

.service_wrap .service_container .page_cont { width: 1200px; margin: 0 auto; padding: 65px 0 180px; box-sizing: border-box; }

.service_wrap .service_container .page_cont .guide_tit h2 { font-family: 'Roboto'; font-size: 60px; font-weight: 900; color: #00854a; line-height: 1; letter-spacing: -0.044em; margin-bottom: 35px; }

.service_wrap .service_container .page_cont .guide_tit p { font-size: 26px; color: #bbcbc4; }

.service_wrap .service_container .page_cont .download_wrap { position: relative; top: -2px; display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ align-items: flex-end; min-width: 460px; height: 60px; margin-left: 40px; /* download icon */ }

.service_wrap .service_container .page_cont .download_wrap .download-ico { position: relative; width: 24px; height: 38px; overflow: hidden; border-radius: 1px; cursor: pointer; }

.service_wrap .service_container .page_cont .download_wrap .download-ico .arrow { position: relative; display: block; top: 9px; left: 9px; width: 2px; height: 14px; background: #00854a; border-radius: 9px; }

.service_wrap .service_container .page_cont .download_wrap .download-ico .arrow:after { position: absolute; left: 3px; bottom: 0; width: 2px; height: 8px; background: #00854a; border-radius: 9px; transform: rotate(45deg); content: ''; }

.service_wrap .service_container .page_cont .download_wrap .download-ico .arrow:before { position: absolute; right: 3px; bottom: 0; width: 2px; height: 8px; background: #00854a; border-radius: 9px; transform: rotate(-45deg); content: ''; }

.service_wrap .service_container .page_cont .download_wrap .download-ico .frame { position: absolute; top: 26px; left: 0; display: block; width: 20px; height: 2px; margin: 0 auto 0 auto; background: #00854a; border-radius: 9px; transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.service_wrap .service_container .page_cont .download_wrap .download-ico .frame:before { position: absolute; top: -2px; left: -2px; width: 5px; height: 2px; transform: rotate(90deg); background: #00854a; border-radius: 9px; content: ''; }

.service_wrap .service_container .page_cont .download_wrap .download-ico .frame:after { position: absolute; top: -2px; right: -2px; width: 5px; height: 2px; background: #00854a; border-radius: 9px; transform: rotate(90deg); transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); content: ''; }

.service_wrap .service_container .page_cont .download_wrap .download-ico.round .arrow { top: 20px; width: 22px; height: 10px; background: transparent; border: solid 2px #00854a; border-radius: 50%; box-sizing: border-box; animation: none; }

.service_wrap .service_container .page_cont .download_wrap .download-ico.round .arrow:after, .service_wrap .service_container .page_cont .download_wrap .download-ico.round .arrow:before { visibility: hidden; }

.service_wrap .service_container .page_cont .download_wrap .download-ico.round .frame { transform: rotate(-45deg); animation: none; top: 30px; left: 0; width: 22px; }

.service_wrap .service_container .page_cont .download_wrap .download-ico.round .frame:before { width: 5px; height: 5px; background: #fff; transform: rotate(90deg); position: absolute; left: -4px; top: -10px; content: ''; }

.service_wrap .service_container .page_cont .download_wrap .download-ico.round .frame:after { top: 0px; right: 0; transform: rotate(0); }

.service_wrap .service_container .page_cont .download_wrap .download-ico:hover .arrow { animation: move 1s infinite linear; transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

@keyframes move { from { top: 0;
    opacity: 1; }
  to { top: 31px;
    opacity: 0; } }

.service_wrap .service_container .page_cont .download_wrap .download-txt { margin: 0 5px; line-height: 40px; font-size: 17px; font-weight: 500; color: #00854a; }

.service_wrap .service_container .page_cont .download_wrap a:not(.btn-like) { width: 75px; height: 40px; line-height: 36px; font-size: 15px; font-weight: 500; color: #00854a; text-align: center; vertical-align: middle; border: 2px solid #00854a; border-radius: 40px; margin-left: 5px; }

.service_wrap .service_container .page_cont .download_wrap a:not(.btn-like).disabled { color: #ccc; border-color: #ccc; opacity: .5; cursor: initial; }

.service_wrap .service_container .page_cont .download_wrap .btn-like { width: 40px; height: 40px; margin-left: 5px; background: url(/resource/service/images/common/ico-like.png) bottom no-repeat; background-size: 40px; text-indent: -999em; }

.service_wrap .service_container .page_cont .download_wrap .btn-like.active { background: url(/resource/service/images/common/ico-like.png) top no-repeat; }

.service_wrap .service_container .card_wrap { width: 100%; margin: 105px 0 60px; }

.service_wrap .service_container .card_wrap .card_item { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-lines: multiple; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -12px; }

.service_wrap .service_container .card_wrap .card_item li { width: 285px; margin: 0 6px 20px; }

.service_wrap .service_container .card_wrap .card_item li .card { display: inline-block; width: 100%; height: 260px; border: 1px solid #ccc; border-radius: 8px; box-sizing: border-box; opacity: 0.4; }

.service_wrap .service_container .card_wrap .card_item li .card .top { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-align: center; -webkit-align-items: center; align-items: center; width: 283px; height: 92px; background: #ededed; border-radius: 8px 8px 0 0; word-break: keep-all; }

.service_wrap .service_container .card_wrap .card_item li p { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; height: auto; padding: 0 27px; overflow: hidden; font-size: 22px; color: #888; line-height: 1.2; text-overflow: ellipsis; }

.service_wrap .service_container .card_wrap .card_item li:hover .card { border: 2px solid #00854a; -webkit-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.1); box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.1); opacity: 1; }

.service_wrap .service_container .card_wrap .card_item li:hover .top { background: rgba(164, 204, 169, 0.35); }

.service_wrap .service_container .card_wrap .card_item li:hover .top p { font-weight: 600; color: #00854a; }

.service_wrap .service_container .card_wrap .card_item li:last-child { margin-bottom: 0; }

.service_wrap .service_container .card_wrap .card_img { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; overflow: hidden; height: 168px; }

.service_wrap .service_container .card_wrap .card_img img { width: 281px; height: 155px; }

.service_wrap .service_container .card_img.no-data img { display: none; }

.service_wrap .service_container .card_img.no-data:before { display: block; color: #888; padding-top: 70px; text-align: center; content: 'NO DATA'; }

.service_wrap .service_container .cont_wrap h3 { color: #00854a; margin-bottom: 10px; }

.service_wrap .service_container .guide_wrap { overflow: hidden; width: 100%; height: auto; border: 1px solid #d9d7d5; border-radius: 10px; }

.service_wrap .service_container .guide_wrap .img_box { padding: 50px; border-top: 20px solid #b3d09f; border-color: #b3d09f; border-radius: 8px 8px 0 0; }

.service_wrap .service_container .ui-box { padding: 0 50px; margin-bottom: 75px; }

.service_wrap .service_container .ui-box h2 { font-size: 45px; font-weight: 600; color: #00854a; }

.service_wrap .service_container .ui-box p { font-size: 20px; color: #000; word-break: keep-all; }

.service_wrap .service_container .ui-box p span { color: #bbcbc4; }

.service_wrap .service_container .search_box { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: end; -webkit-justify-content: flex-end; justify-content: flex-end; width: 100%; height: auto; margin-bottom: 30px; }

.service_wrap .service_container .search_box .search_inner { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ width: 804px; margin: 0; }

.service_wrap .service_container .search_box .search_inner .ui-selectbox { width: 170px; margin-right: 10px; }

.service_wrap .service_container .search_box .search_inner .input_box { width: 504px; margin-right: 10px; margin-bottom: 0; }

.service_wrap .service_container .search_box .search_inner input, .service_wrap .service_container .search_box .search_inner select { border-radius: 0; height: 50px; line-height: 50px; color: #666; }

.service_wrap .service_container .search_box .search_inner .btn_wrap { margin: 0; }

.service_wrap .service_container .search_box .search_inner .btn_wrap .btn { width: 111px; height: 50px; line-height: 49px; margin: 0; font-size: 18px; border-radius: 8px; }

.service_wrap .service_container .img_box img { width: 100%; height: auto; }

.service_wrap .cont_tit h2 { font-size: 45px; font-weight: 600; color: #00854a; line-height: 1; margin-bottom: 55px; }

.service_wrap .cont_tit .sub_tit { font-size: 26px; color: #bbcbc4; }

.service_wrap .cont_tit .desc { margin-top: 40px; font-size: 26px; color: #bbcbc4; }

.service_wrap .cont_tit.download { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; align-items: center; }

.service_wrap.guest .service_container { padding-top: 0 !important; }

/* 약관 */
.termsList .cont_tit { margin-bottom: 50px; }

.termsList .c_red { color: #e05926; }

.termsList h3 { margin-bottom: 10px; font-size: 18px; }

.termsList h4 { margin-bottom: 30px; font-size: 18px; }

.termsList .terms_cont .termsBox { padding: 20px; background: #f7f7f7; }

.termsList .terms_cont dl { margin-bottom: 20px; }

.termsList .terms_cont dl dt { font-size: 20px; margin-bottom: 20px; }

.termsList .terms_cont dl dd { margin-bottom: 40px; line-height: 1.5; word-break: keep-all; }

.termsList .terms_cont dl dd span:first-child { margin-right: 50px; }

.termsList .terms_cont dl dd strong { display: block; font-weight: 500; margin-bottom: 5px; }

.termsList .terms_cont dl dd .terms_table { margin: 10px 0; text-align: left; }

.termsList .terms_cont dl dd .terms_table table { width: 75%; }

.termsList .terms_cont dl dd .terms_table table tr { border: 1px solid #ddd; }

.termsList .terms_cont dl dd .terms_table table th { width: 20%; padding: 15px 20px; background: #fafafa; font-weight: 400; color: #333; }

.termsList .terms_cont dl dd .terms_table table td { padding: 15px 20px; word-break: keep-all; }

.termsList .terms_cont dl dd .terms_table table td span { display: block; }

.termsList .terms_cont dl dd .terms_table table td span:before { display: inline-block; margin-right: 10px; content: '-'; }

.termsList .terms_cont dl dd .list { margin-bottom: 20px; }

.termsList .terms_cont dl dd .list:last-child { margin-bottom: 0; }

.termsList .terms_cont dl dd span.tbl_bul { position: relative; display: block; padding-left: 15px; }

.termsList .terms_cont dl dd span.tbl_bul:before { position: absolute; left: 0; display: inline-block; content: ''; }

.termsList .terms_cont dl dd span.tbl_bul.dot:before { content: '◦'; }

.termsList .terms_cont dl dd span.tbl_bul.dash:before { content: '-'; }

.termsList .terms_cont .tlist { margin: 10px 0; }

.termsList .terms_cont .tlist ul li { position: relative; padding-left: 20px; color: #666; }

.termsList .terms_cont .tlist ul li span { position: absolute; left: 0; margin: 0; }

/**** ui-input-type *****/
input[type='text'], input[type='email'], input[type='password'], input[type='number'], input[type='search'], select { height: 60px; padding: 0 19px; color: #666; background-color: #fff; border: 1px solid #ddd; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input[type='text'] option, input[type='email'] option, input[type='password'] option, input[type='number'] option, input[type='search'] option, select option { color: #666; }

input[type='text']::placeholder, input[type='email']::placeholder, input[type='password']::placeholder, input[type='number']::placeholder, input[type='search']::placeholder, select::placeholder { color: #ccc; }

input[type='search']::placeholder { color: #666; }

input[type='checkbox'], input[type='radio'] { position: absolute; overflow: hidden; width: 0 !important; height: 1px !important; padding: 0 !important; margin: 0 !important; border: 0; opacity: 0; clip: rect(0, 0, 0, 0); -webkit-appearance: none; }

input[type='checkbox'] + label, input[type='radio'] + label { position: relative; display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-align: center; -webkit-align-items: center; align-items: center; margin: 5px 0; color: #666; transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1); cursor: pointer; }

input[type='checkbox'] + label > span, input[type='radio'] + label > span { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; width: 27px; height: 27px; margin-right: 10px; background: #fff; border: 2px solid #dbdbdb; border-radius: 50%; transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1); cursor: pointer; }

/* input[type='checkbox'] */
input[type='checkbox']:checked + label > span { background: #00854a; border-color: #00854a !important; border-radius: 50%; animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1); }

input[type='checkbox']:checked + label > span:before { position: absolute; top: 11px; left: 7px; border-right: 3px solid transparent; border-bottom: 3px solid transparent; transform: rotate(45deg); transform-origin: 0% 100%; animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards; content: ''; }

@keyframes shrink-bounce { 0% { transform: scale(1); }
  33% { transform: scale(0.85); }
  100% { transform: scale(1); } }

@keyframes checkbox-check { 0% { width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  33% { width: 5px;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  100% { width: 5px;
    height: 10px;
    border-color: #fff;
    transform: translate3d(0, -10px, 0) rotate(45deg); } }

/* input[type='radio'] */
input[type='radio']:checked + label > span { border-radius: 50%; background: #00854a; border-color: #00854a; animation: shrink-bounce2 200ms cubic-bezier(0.4, 0, 0.23, 1); }

input[type='radio']:checked + label > span:before { position: absolute; top: 12px; left: 7px; border-right: 3px solid transparent; border-bottom: 3px solid transparent; transform: rotate(45deg); transform-origin: 0% 100%; animation: radio-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards; content: ''; }

@keyframes shrink-bounce2 { 0% { transform: scale(1); }
  33% { transform: scale(0.85); }
  100% { transform: scale(1); } }

@keyframes radio-check { 0% { width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  33% { width: 5px;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  100% { width: 5px;
    height: 10px;
    border-color: #fff;
    transform: translate3d(0, -10px, 0) rotate(45deg); } }

input[type="radio"] + label.input { min-height: 40px; }

input[type="radio"] + label.input:before { top: 9px; }

/* all-chk */
.ui-chkbox { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; }

.ui-chkbox label { align-items: flex-start !important; margin: 0 !important; word-break: keep-all; }

.ui-chkbox label > span { margin-right: 0 !important; padding-right: 23px; }

.ui-chkbox em { margin-left: 10px; font-weight: 300; color: #666; }

/* selectbox */
.ui-selectbox select { width: 100%; height: 60px; padding: 0 25px 0 20px; border-color: #ddd; background: #fff url(/resource/service/images/common/ico-selectArrow.png) right 27px center no-repeat; font-size: 16px; vertical-align: middle; }

.ui-selectbox select::-ms-expand { display: none; }

.ui-selectbox select::placeholder { color: #666; }

/* form type */
.form_flex { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-lines: multiple; -webkit-flex-wrap: wrap; flex-wrap: wrap; margin-top: 12px; }

.form_flex li { position: relative; float: left; margin-right: 45px; }

.form_flex li label { padding-top: 2px; font-weight: 300; color: #666; }

.form_flex + input { margin-top: 36px; }

.form_inline { position: relative; margin: 12px 0; border-top: 2px solid #000; }

.form_inline .form_item { width: 100%; }

.form_inline .form_item .form_label { display: inline-block; margin-bottom: 8px; font-weight: 300; color: #333; min-width: 265px; padding-top: 12px; font-size: 20px; }

.form_inline .form_item .form_label.essential:after { position: relative; top: -1px; display: inline-block; padding-left: 5px; color: #ff602f; content: "*"; }

.form_inline .item { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-lines: multiple; -webkit-flex-wrap: wrap; flex-wrap: wrap; padding: 29px 20px 23px; border-bottom: 1px solid #f4f4f4; }

.form_inline .item div { width: calc(100% - 265px); }

.form_inline .item div input, .form_inline .item div textarea { width: 100%; margin-bottom: 7px; }

.form_inline .item input.datepicker { width: 179px; }

.form_inline .item .c_main { margin-top: 9px; }

.form_inline .item .ui-textarea { margin: 5px 0 21px; }

.form_inline .item:last-child { padding-bottom: 40px; margin-bottom: 0; }

/* 다중 선택 타입 */
.multi_ul { margin-bottom: 8px; }

.multi_ul .form_flex li { margin-right: 95px; margin-bottom: 27px; }

.multi_ul .form_flex li input, .multi_ul .form_flex li label { margin-bottom: 0; }

.multi_ul .form_flex + input { margin-top: 24px; }

/* input box */
.input_box { margin-bottom: 10px; }

.input_box label { display: inline-block; margin-bottom: 10px; }

.input_box input { width: 100%; }

.input_box:last-child { margin-bottom: 0; }

.ui-textarea { width: 100%; margin-bottom: 35px; }

.ui-textarea textarea { width: 100%; padding: 15px 18px; color: #666; border: 1px solid #ddd; }

.ui-textarea textarea::placeholder { color: #ccc; }

/* phone type */
.phone { -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

.phone div { width: calc((100% - 16px) / 3); margin-bottom: 0; }

.phone div:last-child { margin-right: 0; }

.phone div input[type=text] { font-family: 'Roboto'; padding-left: 25px; }

.phone select { width: 100%; background: #fff url(/resource/service/images/common/ico-selectArrow.png) right 26px center no-repeat; }

/* datepicker */
.datepicker_wrap span + span { margin-left: 80px; }

.datepicker_wrap span + span:before { position: relative; left: -43px; display: inline-block; content: "~"; }

input.datepicker { text-align: center; text-align: left; pointer-events: none; }

.ui-datepicker-trigger { margin-left: 10px; padding: 14px 0; cursor: pointer; }

.ui-widget-header .ui-icon { background-image: url(/resource/service/images/common/ico_datepicker.png) !important; }

/* input file custom */
.attachedWrap { overflow-y: scroll; width: 100%; padding: 15px 13px 51px; margin: 20px 0 42px; background: #f7f7f7; border: 1px dashed #ddd; }

.attachedWrap .attachedFile { position: relative; display: block; width: 100%; height: 50px; line-height: 49px; padding: 0 20px; background: #fff; border: 1px dashed #ddd; border-bottom: 0; font-size: 14px; color: #666; }

.attachedWrap .attachedFile button { margin-right: -5px; }

.attachedWrap .attachedFile button:before { position: absolute; right: 20px; top: 9px; display: inline-block; width: 28px; height: 28px; background: url(/resource/service/images/common/ico-circleClose.png) right center no-repeat; background-size: 28px; content: ''; }

.attachedWrap .attachedFile button span { position: absolute; left: -999em; }

.attachedWrap .attachedFile a { width: 100%; }

.attachedWrap .attachedMore { display: block; width: 100%; padding: 10px 0; background: #fff; border: 1px dashed #ddd; text-align: center; }

.attachedWrap .attachedMore a { display: inline-block; width: 24px; height: 24px; }

.attachedWrap .attachedMore a:before { display: inline-block; width: 24px; height: 24px; background: linear-gradient(#666, #666), linear-gradient(#666, #666); background-position: center; background-size: 100% 2px,2px 100%; background-repeat: no-repeat; content: ''; }

/* ui-file */
.ui-file { position: relative; width: 100%; height: auto; margin-top: 12px; }

.ui-file div { width: 100% !important; }

.ui-file .ui-list-mark { position: absolute; top: 12px; right: 0; padding: 0 0 0 20px; color: #8aab7c; }

.ui-file .attachedMore { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; align-items: center; width: 100%; padding: 10px 0; background: #fff; border: 1px dashed #ddd; text-align: center; cursor: pointer; }

.ui-file .attachedMore label { font-size: 0; cursor: pointer; }

.ui-file .attachedMore label:before { display: inline-block; width: 24px; height: 24px; background: linear-gradient(#666, #666), linear-gradient(#666, #666); background-position: center; background-size: 100% 2px,2px 100%; background-repeat: no-repeat; content: ''; }

.ui-file .multi { display: none; }

.MultiFile-wrap { overflow-y: scroll; padding: 15px 13px 51px; margin: 20px 0 0; background: #f7f7f7; border: 1px dashed #ddd; }

.MultiFile-wrap .MultiFile-list { margin-top: 10px; }

.MultiFile-wrap .MultiFile-list > .MultiFile-label { position: relative; display: block; width: 100%; height: 50px; line-height: 49px; padding: 0 20px; background: #fff; border: 1px dashed #ddd; border-bottom: 0; font-size: 14px; color: #666; }

.MultiFile-wrap .MultiFile-list > .MultiFile-label .MultiFile-remove { position: absolute; right: 20px; top: 9px; display: inline-block; width: 28px; height: 28px; background: url(/resource/service/images/common/ico-circleClose.png) right center no-repeat; background-size: 28px; text-indent: -999em; }

/** ui-button ***/
.btn_wrap { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: center; -webkit-justify-content: center; justify-content: center; margin: 90px 0 0; }

.btn_wrap .btn:first-child { margin-right: 12px; }

.btn_wrap input[type=button] { font-size: 22px; font-weight: 500; }

.btn { display: inline-block; width: 150px; height: 60px; line-height: 60px; font-size: 22px; font-weight: 500; text-align: center; border-radius: 30px; cursor: pointer; }

.btn.c1 { color: #fff; background-color: #00854a; }

.btn.c2 { color: #00854a; background-color: #fff; border: 1px solid #00854a; }

.btn.c3 { color: #fff; background-color: #333; }

.btn.c4 { color: #fff; background-color: #222; }

.btn.c5 { color: #fff; background-color: #000; }

.btn-center { margin: 0 auto; text-align: center; }

.btn-file { position: relative; display: inline-block; width: auto; height: 46px; line-height: 46px; padding: 0 23px 0 46px; background: #0d0607; border-radius: 30px; color: #fff; cursor: pointer; }

.btn-file:before { position: absolute; top: 50%; left: 21px; transform: translateY(-50%); display: inline-block; width: 14px; height: 14px; background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff); background-position: center; background-size: 100% 2px,2px 100%; background-repeat: no-repeat; content: ''; }

.btn-more { width: 270px; font-size: 22px; }

/* ui-slide , swiper slide */
.ui-slidewrap { position: relative; margin: 90px 0 80px; }

.ui-slidewrap .swiper-container { width: 100%; height: 100%; }

.ui-slidewrap .swiper-container .swiper-slide { width: 285px; opacity: 0.3; }

.ui-slidewrap .swiper-container .swiper-slide:hover { opacity: 1; }

.ui-slidewrap .swiper-container .swiper-slide:hover .card { border: 2px solid #00854a; }

.ui-slidewrap .swiper-container .swiper-slide:hover .card .top { background: rgba(164, 204, 169, 0.35); }

.ui-slidewrap .swiper-container .swiper-slide:hover .card p { font-weight: 600; color: #00854a; word-break: keep-all; }

.ui-slidewrap .swiper-button-next, .ui-slidewrap .swiper-button-prev { display: inline-block; width: 20px; height: 40px; background: url(/resource/service/images/common/btn-prev.png) center no-repeat; background-size: contain; }

.ui-slidewrap .swiper-button-next:after, .ui-slidewrap .swiper-button-prev:after { display: none; }

.ui-slidewrap .swiper-button-next { right: -100px; background-image: url(/resource/service/images/common/btn-next.png); }

.ui-slidewrap .swiper-button-prev { left: -100px; background-image: url(/resource/service/images/common/btn-prev.png); }

.ui-slidewrap .card { display: inline-block; width: 100%; height: 260px; border: 1px solid #ccc; border-radius: 8px; overflow: hidden; }

.ui-slidewrap .card .top { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-align: center; -webkit-align-items: center; align-items: center; height: 90px; background: #ededed; border-radius: 8px 8px 0 0; }

.ui-slidewrap .card p { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; height: auto; padding: 0 27px; overflow: hidden; font-size: 22px; color: #888; line-height: 1.2; }

.ui-slidewrap .card .card_img { margin: 0 auto; }

.ui-slidewrap .card .card_img img { width: 281px; height: 155px; }

.ui-slidewrap .swiper-pagination { display: none; }

/* ui-table */
.ui-table .list_tbl { height: auto; margin-bottom: 90px; }

.ui-table .list_tbl thead { border-top: 2px solid #000; }

.ui-table .list_tbl th, .ui-table .list_tbl td { padding: 30px 0; font-size: 20px; border-bottom: 1px solid #f4f4f4; }

.ui-table .list_tbl th { background: #f8f8f8; font-weight: 500; color: #333; }

.ui-table .list_tbl td { color: #666; text-align: center; }

.ui-table .list_tbl td.no-data { padding: 40px 0; text-align: center; }

.ui-table .list_tbl tr.important span { display: inline-block; width: 95px; height: 46px; line-height: 42px; border: 2px solid #e96724; border-radius: 46px; color: #e96724; font-size: 18px; font-weight: 500; text-align: center; }

.ui-table .list_tbl tr td:nth-child(2) { text-align: left; padding-left: 60px; }

/**** class ***/
[class$=_inner] { width: 1200px; margin: 0 auto; }

[class$=_form] { width: 440px; margin: 0 auto; }

.m_block { display: none; }

.en { font-family: "Roboto"; letter-spacing: -0.006em !important; }

.area { width: 100%; margin-bottom: 30px; }

.label { display: inline-block; margin-bottom: 8px; font-weight: 300; color: #333; font-size: 18px; }

.label.essential:after { position: relative; top: -1px; display: inline-block; padding-left: 5px; color: #ff602f; content: "*"; }

.r_label { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ -webkit-box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }

.r_label span { font-size: 16px; font-weight: 300; color: #999; }

.r_label span:before { position: relative; top: 2px; margin-right: 3px; color: #ff602f !important; }

.caption { position: static; text-align: right; color: #999; font-size: 16px; font-weight: 300; }

.caption:before { position: relative !important; top: 2px; margin-right: 5px; color: #ff602f !important; }

.pc_hide { display: none; }

.hide { position: absolute !important; height: 1px !important; width: 1px !important; overflow: hidden !important; clip: rect(1px 1px 1px 1px) !important; clip: rect(1px, 1px, 1px, 1px) !important; }

.ex { margin-top: 8px; color: #8aab7c; font-weight: 300; }

.ex + .ex { margin-top: 0; }

.txt_center { text-align: center !important; }

.txt_left { text-align: left !important; }

.txt_right { text-align: right !important; }

/* heading */
.form_head { margin-bottom: 45px; text-align: center; }

.form_head h2 { margin-bottom: 15px; font-size: 30px; font-weight: 500; color: #000; }

.form_head p { color: #c1c1c1; }

/* modal */
.ui-modal-wrap { display: none; }

.ui-modal-wrap .ui-modal-content { position: absolute; top: 50%; left: 50%; width: 540px; padding: 57px 50px 50px; background-color: #fff; border-radius: 10px; transform: translate(-50%, -50%); opacity: 1; }

.ui-modal-wrap .ui-modal-content .ui-modal-tit { position: relative; margin: 0 0 65px -5px; }

.ui-modal-wrap .ui-modal-content .ui-modal-tit h1 { font-size: 30px; font-weight: 500; color: #00854a; line-height: 1; }

.ui-modal-wrap .ui-modal-content .ui-modal-tit .btn-close { position: absolute; top: 0; right: 0; width: 28px; height: 28px; background: url(/resource/service/images/common/ico-close.png) no-repeat; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .label { display: block; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .col_grid { margin-bottom: 25px; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .btn-center { margin-top: 54px; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .message { font-weight: 300; text-align: center; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .message p { margin: 16px 0 57px; font-size: 18px; color: #333; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .message strong { font-size: 24px; color: #00854a; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .area input { width: 100%; }

.ui-modal-wrap .ui-modal-content .ui-modal-view .area:last-child { margin-bottom: 0; }

.ui-modal-wrap .ui-modal-content select, .ui-modal-wrap .ui-modal-content input { height: 50px; }

.ui-modal-wrap.active { display: block; }

.ui-modal-wrap:before { position: fixed; left: 0; top: 0; bottom: 0; width: 100%; background: rgba(13, 6, 7, 0.7); content: ''; }

/**** ui_list_style ***/
.ui-list-dot { position: relative; display: block; padding-left: 10px; }

.ui-list-dot:before { position: absolute; left: 0; top: 9px; display: inline-block; width: 4px; height: 4px; margin-right: 5px; background: #666; border-radius: 50%; content: ''; }

.ui-list-star { position: relative; display: block; padding-left: 10px; }

.ui-list-star:before { position: absolute; top: 1px; left: 0; display: inline-block; color: #8aab7c; content: "*"; }

.ui-list-mark { position: relative; display: block; padding-left: 10px; }

.ui-list-mark:before { position: absolute; top: 2px; left: 0; display: inline-block; margin-right: 5px; font-size: 13px; color: #8aab7c; content: "※"; }

.essential:after { position: relative; top: -1px; display: inline-block; padding-left: 5px; color: #ff602f; content: "*"; }

/* complete_wrap */
.complete { padding: 65px 0 310px; box-sizing: border-box; }

.complete .complete_wrap { width: 1200px; margin: 0 auto; }

.complete .complete_wrap .cont_tit h2 { margin-bottom: 50px; }

.complete .complete_wrap .complete_box { position: relative; height: 522px; border: 1px solid #d9d7d5; border-radius: 10px; background: linear-gradient(transparent 50%, rgba(179, 208, 159, 0.1) 50%); }

.complete .complete_wrap .complete_box .complete_txt { position: absolute; top: 0; right: 0; padding-top: 186px; padding-right: 220px; }

.complete .complete_wrap .complete_box .complete_txt h3 { margin-bottom: 50px; font-size: 36px; font-weight: 500; color: #00854a; }

.complete .complete_wrap .complete_box .complete_txt h3 strong { color: #98c70b; }

.complete .complete_wrap .complete_box .complete_txt .desc { margin-bottom: 40px; font-size: 18px; font-weight: 300; color: #787878; }

.complete .complete_wrap .complete_box .complete_txt .btn_wrap { -webkit-box-pack: start; justify-content: flex-start; height: 50px; line-height: 50px; margin: 0; }

.complete .complete_wrap .complete_box .complete_txt .btn_wrap .btn { width: auto; min-width: 354px; height: 50px; line-height: 50px; padding: 0 48px; font-size: 18px; }

.complete .complete_wrap .complete_box:before { display: block; width: 100%; height: 100%; background: url(/resource/service/images/common/bg-complete.png) 214px 59px no-repeat; content: ''; }

.mnav { display: none; }

/*** col_grid ****/
[class^=col_] { display: inline-block; margin-right: 10px; }

[class^=col_]:last-child { margin-right: 0; }

.col_grid { display: -webkit-box; /* Android 2.1 ~ 4.3, ios 6-, safari 3.1-6 */ display: -webkit-flex; /* IE10 */ display: flex; /* Chrome */ flex-wrap: nowrap; }

.col_1 { -webkit-box-flex: 0; -ms-flex: 0 0 8.333333%; flex: 0 0 8.333333%; max-width: 8.333333%; }

.col_2 { -webkit-box-flex: 0; -ms-flex: 0 0 16.666667%; flex: 0 0 16.666667%; max-width: 16.666667%; }

.col_3 { -webkit-box-flex: 0; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.col_4 { -webkit-box-flex: 0; -ms-flex: 0 0 33.333333%; flex: 0 0 33.333333%; max-width: 33.333333%; }

.col_5 { -webkit-box-flex: 0; -ms-flex: 0 0 41.666667%; flex: 0 0 41.666667%; max-width: 41.666667%; }

.col_6 { -webkit-box-flex: 0; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.col_7 { -webkit-box-flex: 0; -ms-flex: 0 0 58.333333%; flex: 0 0 58.333333%; max-width: 58.333333%; }

.col_8 { -webkit-box-flex: 0; -ms-flex: 0 0 66.666667%; flex: 0 0 66.666667%; max-width: 66.666667%; }

.col_9 { -webkit-box-flex: 0; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }

.col_10 { -webkit-box-flex: 0; -ms-flex: 0 0 83.333333%; flex: 0 0 83.333333%; max-width: 83.333333%; }

.col_11 { -webkit-box-flex: 0; -ms-flex: 0 0 91.666667%; flex: 0 0 91.666667%; max-width: 91.666667%; }

.col_12 { -webkit-box-flex: 0; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE10-specific styles go here*/
  .button-wrapper { display: -ms-flexbox; }
  .button-wrapper > custom-button { display: inline-block; }
  select { padding-left: 2px; }
  input::placeholder { color: #ccc; }
  input::-webkit-input-placeholder { color: #ccc; }
  input:-ms-input-placeholder { color: #ccc; }
  textarea::placeholder { color: #ccc; }
  textarea::-webkit-input-placeholder { color: #ccc; }
  textarea:-ms-input-placeholder { color: #ccc; } }
